body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF51;
    color: white;
    text-align: center;
    height: 120px;
    display: grid;
    align-content: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px;
}

nav {
    background-color: #66bb6b;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1px;
}
.grid-container {
    background-color: #E8F5E9;
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 20px;
    margin: 20px;
}

.sidebar h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.sidebar {
    background-color: #eaf7ea;
    border-radius: 10px;
    margin: 10px;
}
.sidebar ul {
    margin-left: 10px;
}

.nature img {
    width: 100%;
    height: 130px;
    border-radius: 8px;
}

.Photos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
}

.nature {
    background-color: white;
    border-radius: 12px;
    text-align: center;
    height: 450px;
}

.nature p {
    font-weight: bold;
    margin: 10px;
}

footer {
    background-color:  #4CAF51;
    color: white;
    text-align: center;
    height: 80px;
    display: grid;
    align-content: center;
    margin-top: 30px;
}
